{
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "ignore",
    "singleQuote": true,
    "jsxSingleQuote": true,
    "useTabs": false,
    "tabWidth": 4,
    "printWidth": 120
}
